.loaderIcon {
  animation: spin 1s linear infinite; /* Apply the spin animation to the icon */
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}